.btn{
    padding: 8px 15px;
    margin-left: auto;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    transition: all 1 ease-in-out;
    cursor: pointer;
    font-size: 16px;
  }

   